@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');
:root {
  --primary-color: #662193;
  --secondary-color: #b360eb;
  --off-dark: #3e3e3e;
}

body {
  background-color: rgb(25,25,25);
  color: white;
  font-family: 'Montserrat', sans-serif;  
  padding: 0;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.heading {
  background: linear-gradient(to right, red, blue);
  font-size: 2.2rem;
  padding: 0.58rem;
  margin: 0;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.dob,.lucky-number {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0.8rem;
}

.dob label, .lucky-number label {
  font-size: 1.8rem;
  font-weight: bold;
}

.dob input, .lucky-number input {
  font-size: 1.5rem;
  text-align: center;
  padding: 0.2rem 0.5rem;
  border: none;
  border-radius: 0.3rem;
}

#check-button {
  border: none;
  border-radius: 0.2rem;
  font-size: 1.5rem;
  font-weight: 550;
  padding: 0.8 1.5rem;
  margin: 1rem;
}
#check-button:active {
  box-shadow: none;
  transform: translateY(3px);
}

.divider {
  width: 23rem;
  padding: 1px;
  background-color: var(--off-dark);
}

.gif {
  width: 20rem;
  border-radius: 3px;
}

#result {
  font-size: 1.5rem;
  background-color: var(--off-dark);
  padding:0.2rem 1.8rem;
  border-radius: 0.2rem;
  margin: 1rem 0 1rem 0;
}

footer {
  display: flex;
  justify-items: center;
  justify-content: center;
  background: linear-gradient(to right, red, blue);
  padding: 0.5rem;
  gap: 1.5rem;
  margin-top: auto;
}

.social-icons {
  width: 2.5rem;
  margin-top: 0.3rem;
}
 
.privacy {
  margin-top: auto;
  margin-bottom: 0.3rem;
}

span {
  font-weight: 700;
  color: var(--secondary-color);
}
